{% extends "./template.html" %}

{% block title %} Conexión {% endblock %}


    <head>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/chartsMqtt.css' %}">

    </head>
    
{% block body %}

    <div class="row">
        <!-- CONTAINER FOR CHART -->
        <div class="col-8" id="chart_div"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/chartsMqtt.js' %}"></script>

    <script>
    var arrayOfIds = []
    const systemSocket = new WebSocket(`ws://${window.location.host}/ws/system/`);
    
    systemSocket.onopen = function (e) {
        systemSocket.send(JSON.stringify({"message": 'Sending message to server'}));
    };
    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        //updateChart(data['temp'])
        if (data['Id'] && data['temp'] && data['timestamp']) {
             //variable is undefined or null

            if(! (arrayOfIds.includes(data['Id']) ) ) {
                arrayOfIds.push(data['Id']);
                addRow('table', data['Id'], data['temp'], data['timestamp']);

            };
             //Draw chart only selected row
             if(idSelectedRow == data['Id']){
                updateChart(data['temp'])
            }
            var table = document.getElementById("table");
            var length =table.rows.length-1;
        
            for (var i =0; i <= length; i++) {

                if(table.rows[i].cells[1].innerHTML  == data['Id'])
                {
                    table.rows[i].cells[2].innerHTML  = data['temp'];
                    table.rows[i].cells[3].innerHTML  = data['timestamp'];
                }

            }

        
        };
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
    };
    
    </script>
    </div>
    <div class="row">
        <div class="col-12">
        <table class="table table-dark" id="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Temperature</th>
                <th scope="col">Timestamp</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

</div>   

</div>
{% endblock %}
  