<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chartsMqtt.css' %}">

</head>

<body>
    <!-- CONTAINER FOR CHART -->
    <div id="chart_div"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">var a = "{{someDjangoVariable}}";</script>
    <script src="{% static 'js/chartsMqtt.js' %}"></script>

    <script>
          const systemSocket = new WebSocket(`ws://${window.location.host}/ws/system/`);
    systemSocket.onopen = function (e) {
        systemSocket.send(JSON.stringify({"message": 'Sending message to server'}));
    };
    systemSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
    };
    systemSocket.onclose = function (e) {
        console.error('Chat socket closed');
    };
    
    </script>
    

</body>

</html>
   

